# OS
.DS_Store
Thumbs.db

# Python / R / Jupyter
__pycache__/
*.pyc
.venv/
.env
.Rproj.user/
.Rhistory
.RData
.ipynb_checkpoints/

# Data & outputs (keep folders)
data/*
!data/.gitkeep
outputs/*
!outputs/.gitkeep
